:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #929499;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  background-color: var(--dark);
  overflow-x: hidden;
  overflow-y: auto;
}

input {
  border: none;
  outline: none;
  background: none;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  background-image: linear-gradient(to top, var(--dark), var(--darker));
}

.header .title {
  font-family: "Pacifico", cursive;
  font-style: italic;
  color: var(--purple);
  font-size: 5rem;
  font-weight: 300;
  user-select: none;
}

.container {
  margin-top: 60px;
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.to-do-container {
  width: 60vw;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 20px;
}

.todo-list-container {
  width: 100%;
  min-height: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: var(--light);
}

.todo-list-text {
  font-size: 3.5rem;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 40px;
  width: 100%;
  border-bottom: 5px solid var(--grey);
  transition: 0.2s ease;
}

.todo-list-text:not(:read-only) {
  color: var(--light);
  border-bottom: 5px solid var(--light);
}

.todo-list-container .task-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-list-container .task-input input {
  width: 70%;
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

.todo-list-container .task-input button {
  border: none;
  outline: none;
  background: none;
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.todo-list-container .task-input .list-action .task-adder {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
}

.todo-list-container .task-input .list-action .task-removeAll {
  background-image: linear-gradient(to right, red, crimson);
}

.todo-list-container .task-input button:hover {
  opacity: 0.8;
}
.todo-list-container .task-input button:active {
  opacity: 0.7;
}

.todo-list-container .task-container {
  margin-top: 30px;
  width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list-container .task-container .task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 255 255 255 0.5px;
}

.todo-list-container .task-container .task .action-container {
  display: flex;
  flex-direction: row;
  width: auto;
}

.task .task-content {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.2s ease;
}

.task .task-content:not(:read-only) {
  color: var(--pink);
}

.done {
  opacity: 0.7;
}

.todo-list-container .task-container .task .action-container button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.todo-list-container .task-container .task .action-container button:hover {
  opacity: 0.8;
}

.todo-list-container .task-container .task .action-container button:action {
  opacity: 0.7;
}

.todo-list-container .task-container .task .action-container .edit-task {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo-list-container .task-container .task .action-container .remove {
  color: crimson;
}
.list {
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 10px;
  background-color: var(--dark);
  color: var(--light);
  border: 2px solid;
  border-image: linear-gradient(45deg, var(--purple), var(--pink)) 1;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  transition: all 0.4s ease;
}

.lists-dropdown {
  display: none;
  position: fixed;
  right: 5px;
  top: 60px; /* Adjust this value to your preference */
  padding: 5px 10px 10px 10px;
  background-color: var(--darker);
  color: var(--light);
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
  transition: height 0.4s ease;
}

.lists-dropdown .list-element {
  padding: 5px 2px 5px 7px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkest);
  border-radius: 5px;
  margin-top: 5px;
  width: 300px;
  height: 40px;
}

.lists-dropdown .list-element button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: crimson;
}

.addList {
  cursor: pointer;
  background-color: var(--light);
}

.addList:hover {
  opacity: 0.8;
}

.addList:active {
  opacity: 0.7;
}
