:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #929499;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  margin: 0;
  background-color: var(--dark);
  overflow: hidden;
}

input {
  border: none;
  outline: none;
  background: none;
}

.container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.to-do-container {
  width: 60vw;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 20px;
}

.todo-list-container {
  width: 100%;
  min-height: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: var(--light);
}

.todo-list-text {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 50px;
}

.todo-list-container .task-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-list-container .task-input input {
  width: 70%;
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

.todo-list-container .task-input button {
  border: none;
  outline: none;
  background: none;
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.todo-list-container .task-input button:hover {
  opacity: 0.8;
}
.todo-list-container .task-input button:active {
  opacity: 0.7;
}

.todo-list-container .task-container {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list-container .task-container .task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
  box-shadow: 255 255 255 0.5px;
}

.todo-list-container .task-container .task .action-container {
  display: flex;
  flex-direction: row;
  width: auto;
}

.task .task-content {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.done {
  opacity: 0.25;
}

.todo-list-container .task-container .task .action-container button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.todo-list-container .task-container .task .action-container .edit-task {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo-list-container .task-container .task .action-container .remove {
  color: crimson;
}
.list {
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  color: var(--light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.lists-dropdown {
  display: none;
  position: fixed;
  right: 5px;
  top: 45px; /* Adjust this value to your preference */
  padding: 5px 10px 10px 10px;
  background-color: var(--darker);
  color: var(--light);
  border-radius: 10px;
  z-index: 1;
}

.lists-dropdown .list-element {
  padding: 5px 2px 5px 7px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkest);
  border-radius: 5px;
  margin-top: 5px;
  width: 300px;
  height: 40px;
}

.lists-dropdown .list-element button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.4s;
  color: crimson;
}

.addList {
  position: absolute;
  cursor: pointer;
}
